body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 60px;
  background-color: var(--black);
}
* {
  box-sizing: border-box;
}
:root {
  --orange: #ff7000;
  --black: #1a1a1a;
  --dark-orange: #e56501;
  --light-gray: #302e27;
  --gray: #f2f1ee;
  --dark-gray: #a39fa6;
  --brown: #342826;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}
header {
  background-color: var(--black);
  padding: 5px 0 0;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
}
header .container-back {
  border-top: 1px solid var(--orange);
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
header .container .container-left {
  display: inline-block;
  vertical-align: middle;
}
header .container .container-left .logo {
  padding: 20px 0;
  display: block;
  font-family: "Kaushan Script", cursive;
  font-weight: 300;
  font-size: 24px;
  color: white;
  text-decoration: none;
}
header .container .container-right {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .container .container-right li:first-child a {
  border-left: none;
}
header .container .container-right a {
  display: block;
  padding: 35px 42px;
  color: white;
  text-decoration: none;
  line-height: 10px;
  white-space: nowrap;
  min-width: 158px;
  text-align: center;
  border-left: 2px solid var(--brown);
}
header .container .container-right a:hover {
  background-color: var(--orange);
  box-shadow: 0 4px 0 0 var(--orange);
  text-shadow: 0 1px rgba(0, 0, 0, 0.6);
}
header .container .container-right .drop-down {
  position: relative;
}
header .container .container-right .drop-down:hover ul {
  display: block;
}
header .container .container-right .drop-down ul {
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  background-color: var(--black);
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
header .container .container-right .drop-down ul li {
  border-top: 2px solid var(--brown);
}
header .container .container-right .drop-down ul li a {
  padding: 12px;
  text-align: left;
  font-size: 14px;
  box-shadow: none;
}
header .container .container-right .drop-down ul li a i {
  margin-right: 2px;
  width: 15px;
}
.spacer {
  height: 57vw;
  max-height: 85vh;
}
.hero {
  background-color: var(--black);
}
.hero .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.hero .container .item {
  padding-bottom: 140px;
  margin-top: -125px;
}
.hero .container .item .image {
  border-radius: 300px;
  overflow: hidden;
  height: 250px;
  width: 250px;
  border: 5px solid white;
}
.hero .container .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .container .item .label {
  color: white;
  text-align: center;
}
.hero .container .item .label h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 15px 0 10px;
}
.hero .container .item .label p {
  color: var(--dark-orange);
  font-size: 14px;
  margin: 0;
  padding: 0 0 10px;
}
.hero .container .item .label button {
  background-color: white;
  border: 1px solid var(--gray);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 20px;
  cursor: pointer;
}
.hero .container .item .label button:hover {
  background-color: var(--orange);
  color: white;
  border-color: var(--orange);
}
.hero-back {
  background-color: white;
}
.hero-back h1 {
  text-align: center;
  text-decoration: none;
}
.hero-back .container-back {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
