<div class="container">
  <div class="item" *ngFor="let bear of bears">
    <button class="image" (click)="select(bear)" [attr.aria-label]="'Выбрать медведя по имени ' + bear.name">
      <img
        src="../../../assets/img/Медведи/{{ bear.name }}-{{ bear.size }}/Белый.jpg"
        alt="{{ bear.name }} {{ bear.size }}см"
      />
    </button>
    <div class="label">
      <h3>{{ bear.name }} {{ bear.size }}см</h3>
      <p>{{ bear.price }} &#8381;</p>
      <button (click)="select(bear)">Выбрать</button>
    </div>
  </div>
</div>
