:root {
  --orange: #ff7000;
  --black: #1a1a1a;
  --dark-orange: #e56501;
  --light-gray: #302e27;
  --gray: #f2f1ee;
  --dark-gray: #a39fa6;
  --brown: #342826;
}
:host {
  position: relative;
  display: block;
  overflow: hidden;
}
:host .slider-container {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: -20px;
  width: 100%;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
:host .slider-container .slider {
  padding: 0 0 20px;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
:host .slider-container .slider ::ng-deep li {
  width: 100%;
  scroll-snap-align: center;
}
:host .slider-prev,
:host .slider-next {
  position: absolute;
  top: 50%;
  margin: -50px 0 0;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  background: none;
  text-align: center;
}
:host .slider-prev::before,
:host .slider-next::before {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
:host .slider-prev:hover::before,
:host .slider-next:hover::before,
:host .slider-prev:focus::before,
:host .slider-next:focus::before {
  border-color: #ff7000;
}
:host .slider-prev {
  left: 0;
}
:host .slider-prev::before {
  transform: rotate(45deg);
}
:host .slider-next {
  right: 0;
}
:host .slider-next::before {
  transform: rotate(225deg);
}
