
<section class="hero" id="catalog">
  <app-bears-list [bears]="bears" (bear)="select($event)"></app-bears-list>
</section>
<section class="workflow" id="order">
  <h2>Как заказать мишку</h2>
  <div class="container">
    <div class="item">
      <div class="image">
        <img src="assets/img/zakaz.png" alt="Оформляем заказ" />
      </div>
      <div class="label">
        <p>Для оформления зазказа заполните заявку в форме ниже</p>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="assets/img/svayz.png" alt="Связь с вами" />
      </div>
      <div class="label">
        <p>
          Вскоре наш менеджер с вами свяжется и проконсультирует по всем вопросам
        </p>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="assets/img/dostavka.png" alt="Доставка" />
      </div>
      <div class="label">
        <p>
          Наш курьер доставляет мишку лично Вам или получателю, которого Вы&nbsp;указали
        </p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button data-open-modal="modal-form" (click)="selectBear()">Оставить заявку</button>
  </div>
</section>
<section class="about" id="about">
  <h2>О мишках</h2>

  <ul class="container">
    <li>
      <h3>Производство</h3>
      <p>
        Все наши мишки производятся в России. Поэтому они имеют правильную форму и отличное качество!
      </p>
    </li>
    <li>
      <h3>Материалы</h3>
      <p>
        Наши медведи сделаны из высококачественных и гипоаллергенных материалов. Поэтому они абсолютно безопасны как для
        взрослых, так и для детей
      </p>
    </li>
    <li>
      <h3>Качество</h3>
      <p>
        Все мишки проходят 3 ступени проверки качества. Благодаря чему вероятность брака полностью исключена.
      </p>
    </li>
    <li>
      <h3>Наполнитель</h3>
      <p>
        При изготовлении мишек мы не жалеем наполнителя. Поэтому они получаются такими упругими пухляшами, которые
        держат свою форму долгое время.
      </p>
    </li>
    <li>
      <h3>Плюш</h3>
      <p>
        Для изготовления медведя используется густой плюш высшего сорта. Поэтому все мишки получаются мягкими и
        приятными на ощупь
      </p>
    </li>
    <li>
      <h3>Сертификация</h3>
      <p>
        Все наши медведи и все материалы которые используются при производстве имеют сертификаты качества.
      </p>
    </li>
  </ul>
</section>
<section id="revievs" class="reviews">
  <h2>Отзывы</h2>
  <app-modal-carousel class="carousel" [slides]="reviewsCount" (window:resize)="getCountOfReviews()">
    <li><img src="assets/img/rev/1.jpg" alt="" /></li>
    <li><img src="assets/img/rev/2.jpg" alt="" /></li>
    <li><img src="assets/img/rev/3.jpg" alt="" /></li>
    <li><img src="assets/img/rev/4.jpg" alt="" /></li>
    <li><img src="assets/img/rev/5.jpg" alt="" /></li>
    <li><img src="assets/img/rev/6.jpg" alt="" /></li>
    <li><img src="assets/img/rev/7.jpg" alt="" /></li>
    <li><img src="assets/img/rev/8.jpg" alt="" /></li>
    <li><img src="assets/img/rev/9.jpg" alt="" /></li>
    <li><img src="assets/img/rev/10.jpg" alt="" /></li>
    <li><img src="assets/img/rev/11.jpg" alt="" /></li>
    <li><img src="assets/img/rev/12.jpg" alt="" /></li>
  </app-modal-carousel>
</section>
<section class="answers" id="answers">
  <h2>Ответы на ваши вопросы</h2>
  <ul class="container">
    <li>
      <h3>Как посмотреть мишек в живую</h3>
      <p>
        Все наши медведи находятся на складе. Поэтому вы спокойно можете приехать к нам и выбрать того медведя, который
        вам больше всего понравился.
      </p>
    </li>
    <li>
      <h3>Производсвто Россия или Китай?</h3>
      <p>
        Мы ценим наших клиентов, поэтому занимаемся только качественными игрушками Российского производства! Все наши
        медведи отлично пошиты! Они не сыпятся и не облезают, а швы очень крепкие, благодаря чему мишка долгие годы
        будет напоминать о Вас и радовать дорогого Вам человека.
      </p>
    </li>
    <li>
      <h3>Почему у нас дешевле?</h3>
      <p>
        Мы уже давно работаем с нашими поставщиками и для нас они делают скидки. Поэтому, и мы в свою очередь снизили
        стоимость мишек для наших клиентов. Нам не нужно тратить деньги на аренду магазина, так как все мишки храняться
        на складе. Поэтому и стоимость игрушек так же стала ниже.
      </p>
    </li>
    <li>
      <h3>Как осущетсвляется доставка?</h3>
      <p>
        Доставка по России осуществляется от 1 до 10-и дней! Конкретные сроки для вашего города уточняйте у наших
        специалистов. Доставка по городам: Архангельск, Северодвинск, Новодвинск осуществляется в день заказа.
      </p>
    </li>
    <li>
      <h3>Можно ли сделать доставку сюрприз?</h3>
      <p>
        Да, это возможно! Мы можем доставить мишку сюрпризом или инкогнито прямо в руки дорогому Вам человеку.
      </p>
    </li>
    <li>
      <h3>Из чего сделаны ваши медведи?</h3>
      <p>
        Все наши мишки сделаны из плюша высокого качества. Наполнены медведи эко-наполнителем. Благодаря этому каждый
        мишка мягкий и очень приятный на ощупь. Все материалы ГИПОАЛЛЕРГЕННЫ и не впитывают пыль!
      </p>
    </li>
  </ul>
</section>

<app-modals #modal (selectBear)="selectBear($event)" (sendForm)="submitForm($event)"></app-modals>
