<div class="modal" [ngClass]="{ open: opened }" #modal (click)="close($event)">
  <div class="dialog">
    <button class="dialog-close" aria-label="Close modal" (click)="close()"></button>

    <section class="dialog-content" *ngIf="type === 'form'">
      <h2>Напишите нам</h2>
      <p>и мы свяжемся с вами в течении 15 минут</p>
      <form [formGroup]="data" (ngSubmit)="submitForm(); disableSubmitButton=true;">
        <label>
          Ваше имя *
          <input
            type="text"
            formControlName="name"
            minlength="1"
            [ngClass]="{ invalid: data.controls.name.dirty && data.controls.name.invalid }"
            autofocus
          />
        </label>
        <label>
          Телефон *
          <input
            type="tel"
            formControlName="phone"
            minlength="10"
            [ngClass]="{ invalid: data.controls.phone.dirty && data.controls.phone.invalid }"
          />
        </label>
        <label>
          Комментарий к заказу
          <textarea formControlName="comment"></textarea>
        </label>
        <button type="submit" [disabled]="data.invalid || disableSubmitButton">Отправить!</button>
      </form>
    </section>

    <section class="dialog-content" *ngIf="type === 'success'">
      <h2>Успех!</h2>
      <p>Менеджер свяжется с вами в течении 15 минут</p>
    </section>

    <section class="dialog-content" *ngIf="type === 'error'">
      <h2>Что-то пошло не так</h2>
      <p>Возможно, неполадки в сети. Попробуйте связаться с нами любым другим способом:</p>
      <ul>
        <li>
          <a href="https://www.instagram.com/dobrinya29/" target="_blank">
            Instagram
          </a>
        </li>
        <li>
          <a href="https://vk.com/dobrinya29" target="_blank">
            Вконтакте
          </a>
        </li>
        <li>
          <a href="https://wa.me/79600135345" rel="noreferrer"> WhatsApp </a>
        </li>
        <li>
          <a href="tg://resolve?domain=dobrinya29" rel="noreferrer">
            Telegram
          </a>
        </li>
        <li>
          <a href="tel:+79600135345">
            +7 (960) 013-53-45
          </a>
        </li>
      </ul>
    </section>

    <section class="dialog-content" *ngIf="type === 'select'">
      <h2>{{ data.name }} - {{ data.size }}см</h2>
      <app-modal-carousel class="carousel">
        <li *ngFor="let color of data.colors">
          <img src="assets/img/Медведи/{{ data.name }}-{{ data.size }}/{{ color }}.jpg" alt="" />
          <p>{{ color }}</p>
          <button (click)="selectBearColor(color)">Выбрать</button>
        </li>
      </app-modal-carousel>
    </section>
  </div>
</div>
