.ico {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  vertical-align: middle;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ico.logo {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22isolation%3Aisolate%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20d%3D%22M0%200h256v256H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg%20clip-path%3D%22url(%23a)%22%3E%3Cpath%20fill%3D%22%23FFBDDE%22%20d%3D%22M95.429%20154.055c-3.332%205.798-5.252%2010.953-5.789%2015.438-1.453%207.067-3.051%2012.544-4.824%2016.402-1.149%202.572-3.069%204.833-5.789%206.753l11.578%2050.171%2016.402-10.613%2036.663-3.859c13.54%2010.298%2022.877%2016.418%2029.91%2018.332l9.648-54.031c-9.693-.075-17.365-6.987-18.332-18.331l-69.467-20.262z%22%2F%3E%3Cellipse%20cx%3D%22131.021%22%20cy%3D%22207.121%22%20fill%3D%22%23FFD8EC%22%20rx%3D%2217.474%22%20ry%3D%2227.98%22%20vector-effect%3D%22non-scaling-stroke%22%2F%3E%3Cpath%20fill%3D%22%23E3579D%22%20d%3D%22M45.62%20225.086c-3.229-16.528%206.094-32.28%2020.807-35.154%2014.713-2.874%2029.279%208.211%2032.508%2024.739%203.229%2016.528-6.095%2032.28-20.807%2035.154-14.713%202.875-29.279-8.211-32.508-24.739z%22%2F%3E%3Cpath%20fill%3D%22%23FFA6D3%22%20d%3D%22M45.226%20223.074c-3.011-15.417%205.685-30.111%2019.409-32.792%2013.725-2.681%2027.312%207.659%2030.324%2023.076%203.012%2015.418-5.685%2030.111-19.409%2032.792-13.724%202.682-27.312-7.659-30.324-23.076z%22%2F%3E%3Cpath%20fill%3D%22%23FFD8EC%22%20d%3D%22M71.308%20235.101c-.253.327-.491.539-.848%201.184-1.389%201.805-2.839%204.002-5.905%202.675-3.679-1.342-5.906-2.518-5.789-11.578.075-5.864%205.087-11.578%2012.542-11.578s12.769%205.035%2014.636%2010.5c1.108%203.244.162%206.9-3.058%208.797-2.276%201.34-5.556.556-7.718-.965-1.461-1.028-2.519-.642-3.86.965zM77.027%20207.034c.837-4.248%204.061-7.196%207.196-6.579%203.135.618%205%204.568%204.164%208.816-.837%204.249-4.061%207.197-7.196%206.579-3.134-.617-5-4.567-4.164-8.816zM64.427%20204.078c-.814-3.877%201.064-7.558%204.191-8.215%203.127-.656%206.326%201.959%207.14%205.837.814%203.877-1.064%207.558-4.191%208.214-3.127.657-6.326-1.959-7.14-5.836zM54.187%20209.356c-1.785-3.247-1.109-7.052%201.508-8.49%202.618-1.438%206.191.03%207.976%203.278%201.785%203.247%201.109%207.051-1.509%208.49-2.617%201.438-6.191-.031-7.975-3.278zM49.915%20221.51c-2.883-1.423-4.231-4.589-3.009-7.066%201.223-2.476%204.557-3.331%207.44-1.907%202.883%201.423%204.231%204.59%203.008%207.066-1.222%202.476-4.556%203.331-7.439%201.907z%22%2F%3E%3Cg%3E%3Cpath%20fill%3D%22%23E3579D%22%20d%3D%22M216.489%20226.608c3.229-16.528-6.094-32.28-20.807-35.154-14.713-2.875-29.279%208.21-32.508%2024.738-3.229%2016.528%206.095%2032.281%2020.807%2035.155%2014.713%202.874%2029.279-8.211%2032.508-24.739z%22%2F%3E%3Cpath%20fill%3D%22%23FFA6D3%22%20d%3D%22M216.882%20224.596c3.012-15.418-5.685-30.111-19.409-32.792-13.724-2.682-27.311%207.659-30.323%2023.076-3.012%2015.417%205.685%2030.111%2019.409%2032.792%2013.724%202.681%2027.311-7.659%2030.323-23.076z%22%2F%3E%3Cpath%20fill%3D%22%23FFD8EC%22%20d%3D%22M190.8%20236.622c.254.327.491.539.849%201.184%201.389%201.806%202.839%204.002%205.905%202.676%203.679-1.342%205.906-2.518%205.789-11.578-.075-5.865-5.088-11.578-12.543-11.578-7.455%200-12.768%205.035-14.635%2010.5-1.108%203.244-.162%206.9%203.057%208.796%202.277%201.341%205.557.556%207.719-.965%201.461-1.027%202.519-.641%203.859.965zM185.082%20208.556c-.837-4.248-4.061-7.196-7.196-6.579s-5.001%204.568-4.164%208.816c.836%204.248%204.061%207.196%207.195%206.579%203.135-.617%205.001-4.568%204.165-8.816zM197.682%20205.6c.813-3.878-1.065-7.559-4.191-8.215-3.127-.656-6.327%201.959-7.14%205.837-.814%203.877%201.064%207.558%204.191%208.214%203.126.656%206.326-1.959%207.14-5.836zM207.922%20210.878c1.785-3.248%201.109-7.052-1.509-8.49-2.617-1.439-6.191.03-7.975%203.277-1.785%203.248-1.109%207.052%201.508%208.49%202.618%201.439%206.191-.03%207.976-3.277zM212.194%20223.032c2.883-1.423%204.231-4.59%203.008-7.066-1.222-2.477-4.556-3.331-7.439-1.908-2.883%201.424-4.231%204.59-3.009%207.067%201.223%202.476%204.557%203.331%207.44%201.907z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cellipse%20cx%3D%2292.535%22%20cy%3D%2232.965%22%20fill%3D%22%23FFA6D3%22%20stroke%3D%22%23E3579D%22%20stroke-linecap%3D%22square%22%20stroke-miterlimit%3D%223%22%20stroke-width%3D%222%22%20rx%3D%2230.874%22%20ry%3D%2228.467%22%20vector-effect%3D%22non-scaling-stroke%22%2F%3E%3Cpath%20fill%3D%22%23FFA6D3%22%20stroke%3D%22%23E3579D%22%20stroke-linecap%3D%22square%22%20stroke-miterlimit%3D%223%22%20stroke-width%3D%222%22%20d%3D%22M187.584%2072.635c7.422-14.744%2026.164-20.314%2041.827-12.43%2015.662%207.885%2022.352%2026.257%2014.93%2041.001-7.422%2014.745-26.164%2020.315-41.827%2012.43-15.662-7.884-22.352-26.256-14.93-41.001z%22%20vector-effect%3D%22non-scaling-stroke%22%2F%3E%3Cellipse%20cx%3D%2293.188%22%20cy%3D%2237.303%22%20fill%3D%22%23E3579D%22%20rx%3D%2220.573%22%20ry%3D%2221.234%22%20vector-effect%3D%22non-scaling-stroke%22%2F%3E%3Cellipse%20cx%3D%22214.179%22%20cy%3D%2289.404%22%20fill%3D%22%23E3579D%22%20rx%3D%2220.573%22%20ry%3D%2221.234%22%20vector-effect%3D%22non-scaling-stroke%22%2F%3E%3Cpath%20fill%3D%22%23FFA6D3%22%20d%3D%22M90.605%20155.985c-19.055-13.508-35.847-32.818-36.663-53.309-1.327-33.284%2033.937-69.711%2075.738-69.711%2041.802%200%2081.528%2031.663%2082.493%2069.711.391%2015.418-.422%2037.899-9.648%2049.45-11.578%2015.256-19.207%2018.286-34.734%2022.191-13.156%203.308-29.126.573-38.111-1.93-14.49-4.036-27.022-7.858-39.075-16.402z%22%2F%3E%3Cpath%20fill%3D%22%23FFBDDE%22%20d%3D%22M91.721%20151.348c-18.113-12.998-34.074-31.581-34.851-51.3-1.261-32.029%2032.259-67.083%2071.993-67.083%2039.734%200%2077.496%2030.47%2078.413%2067.083.372%2014.837-.401%2036.471-9.171%2047.586-11.005%2014.681-18.256%2017.597-33.016%2021.355-12.505%203.183-27.685.551-36.226-1.857-13.774-3.884-25.685-7.562-37.142-15.784z%22%2F%3E%3Cg%3E%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M108.251%2090.503c2.632-3.35%206.654-4.589%208.976-2.764%202.323%201.824%202.072%206.025-.559%209.375-2.631%203.35-6.653%204.589-8.976%202.765-2.323-1.824-2.072-6.025.559-9.376z%22%2F%3E%3Ccircle%20cx%3D%22114.243%22%20cy%3D%2290.859%22%20r%3D%222.412%22%20fill%3D%22%23FFF%22%20vector-effect%3D%22non-scaling-stroke%22%2F%3E%3Ccircle%20cx%3D%22109.901%22%20cy%3D%2293.271%22%20r%3D%22.965%22%20fill%3D%22%23FFF%22%20vector-effect%3D%22non-scaling-stroke%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M154.185%20112.842c1.192-4.09%204.462-6.739%207.298-5.912%202.835.827%204.169%204.818%202.977%208.908-1.193%204.09-4.463%206.739-7.298%205.912-2.836-.827-4.169-4.818-2.977-8.908z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M158.317%20112.02a2.413%202.413%200%20014.476-1.799%202.412%202.412%200%2001-4.476%201.799zM161.107%20115.822a.966.966%200%20011.791-.72.966.966%200%2001-1.791.72z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cdefs%3E%3Cfilter%20id%3D%22b%22%20width%3D%22400%25%22%20height%3D%22400%25%22%20x%3D%22-200%25%22%20y%3D%22-200%25%22%20color-interpolation-filters%3D%22sRGB%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeGaussianBlur%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20in%3D%22SourceGraphic%22%2F%3E%3CfeOffset%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20dx%3D%224%22%20dy%3D%224%22%20result%3D%22pf_100_offsetBlur%22%2F%3E%3CfeFlood%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20flood-color%3D%22%23FFD3E9%22%20flood-opacity%3D%221%22%2F%3E%3CfeComposite%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20in2%3D%22pf_100_offsetBlur%22%20operator%3D%22in%22%20result%3D%22pf_100_dropShadow%22%2F%3E%3CfeBlend%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20in%3D%22SourceGraphic%22%20in2%3D%22pf_100_dropShadow%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cg%20filter%3D%22url(%23b)%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M80.263%20115.037c5.511-13.396%2027.904-16.899%2049.973-7.819%2022.07%209.081%2035.513%2027.328%2030.002%2040.724-5.512%2013.395-27.904%2016.899-49.974%207.819-22.069-9.081-35.513-27.328-30.001-40.724z%22%2F%3E%3C%2Fg%3E%3Cpath%20stroke%3D%22%238E0F4F%22%20stroke-linecap%3D%22square%22%20stroke-miterlimit%3D%223%22%20stroke-width%3D%222%22%20d%3D%22M128.233%20122.216l-8.683%2020.261%22%20vector-effect%3D%22non-scaling-stroke%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%238E0F4F%22%20stroke-linecap%3D%22square%22%20stroke-miterlimit%3D%223%22%20stroke-width%3D%222%22%20d%3D%22M104.112%20132.829c2.532%209.884%207.697%2013.119%2015.438%209.648M136.916%20147.302c-9.054%204.44-14.814%202.861-17.366-4.825%22%20vector-effect%3D%22non-scaling-stroke%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20fill%3D%22%238E0F4F%22%20d%3D%22M128.233%20100.99c5.382.874%209.604%202.298%2014.472%205.789%205.279%203.84%207.218%207.387%205.789%2010.613-1.396%203.272-4.602%205.533-9.648%206.754-3.718%201.182-7.568%201.513-11.578.965-2.668-1.93-3.993-3.313-6.754-7.719-1.848-3.453-3.447-9.554-2.894-12.543.597-1.947%201.572-3.224%202.894-3.859%202.713-.816%204.915-.482%207.719%200z%22%2F%3E%3Cpath%20fill%3D%22%23E3579D%22%20d%3D%22M128.233%20100.99c5.382.874%209.604%203.263%2014.472%206.754%204.96%204.666%204.372%208.058%202.895%209.648-.965%201.892-4.289%202.955-6.754%203.859-3.867%201.131-6.603%201.514-10.613.965-2.683-1.485-4.696-3.814-5.789-5.789-2.299-3.09-4.99-7.929-4.824-11.578.597-1.947%201.572-3.224%202.894-3.859%202.713-.816%204.915-.482%207.719%200z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M127.422%20105.909c.815-1.92%204.661-2.127%208.582-.461%203.921%201.666%206.442%204.577%205.626%206.498-.816%201.92-4.662%202.127-8.583.461-3.921-1.666-6.441-4.577-5.625-6.498z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20fill%3D%22%23BF4D86%22%20d%3D%22M153.967%20176.246c1.647%204.112%202.537%205.447%202.697%209.778.614%209.41.895%2017.265.869%2023.537-.004%206.135-1.231%2012.781-3.651%2019.91l-23.553%2011.732c-.946%201.479-2.163%202.391-3.625%202.71-2.182.002-4.299-3.01-6.323-9.062-.021-4.809%201.485-9.324%204.546-13.571%201.958-3.917%204.361-8.723%205.454-14.476.659-9.18%202.172-18.522%204.568-28.055l19.018-2.503z%22%2F%3E%3Cpath%20fill%3D%22%23FFBDDE%22%20d%3D%22M153.882%20176.246c1.333%207.831%202.001%2012.485%201.861%2019.734.384%2020.137-.151%2025.177-1.861%2033.491.477%201.702.768%203.22.899%204.527.293%202.698-.625%205.12-2.727%207.238-3.066%203.34-5.792%204.25-8.151%202.703-.529.829-1.143%201.441-1.813%201.808-.852.73-2.37%201.038-4.528.898-1.929.321-7.052-3.003-7.233-5.442-1.495.203-3.313-.696-5.428-2.724-1.573-4.156-.379-7.757%201.827-10.86%201.336-2.487%202.538-5.493%203.635-9.047l2.743-18.1%201.843-21.723%2018.933-2.503z%22%2F%3E%3Cpath%20fill%3D%22%238E0F4F%22%20d%3D%22M143.013%20233.98c1.123%203.588%201.411%206.917.89%209.959-.341.98-.955%201.592-1.813%201.808%201.49-3.708%201.761-7.594.923-11.767zM133.058%20232.155c-1.732%204.014-2.208%206.005-2.729%209.048-.494.059-.351.139-.906-.002.629-4.1%201.028-5.967%203.635-9.046z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20fill%3D%22%23E3579D%22%20d%3D%22M102.183%20171.422a40.077%2040.077%200%2000-2.895%2013.508c-.67%2010.028-.982%2018.399-.965%2025.085-.004%206.539%201.292%2013.624%203.86%2021.226l25.085%2012.543c1.005%201.578%202.301%202.552%203.86%202.895%202.325.005%204.586-3.201%206.753-9.649.03-5.125-1.568-9.94-4.824-14.472-2.08-4.178-4.634-9.304-5.789-15.437-.687-9.786-2.286-19.746-4.824-29.91l-20.261-5.789z%22%2F%3E%3Cpath%20fill%3D%22%23FFBDDE%22%20d%3D%22M102.183%20171.422c-1.433%208.345-2.067%2016.395-1.93%2024.121-.441%2021.462.121%2026.834%201.93%2035.698-.512%201.814-.824%203.431-.965%204.824-.317%202.875.658%205.458%202.894%207.719%203.263%203.565%206.167%204.539%208.684%202.895.563.884%201.215%201.537%201.929%201.929.907.78%202.525%201.111%204.825.965%202.055.345%207.521-3.189%207.718-5.789%201.593.219%203.532-.736%205.789-2.894%201.684-4.427.417-8.267-1.929-11.578-1.42-2.653-2.697-5.859-3.86-9.649l-2.894-19.296-1.93-23.156-20.261-5.789z%22%2F%3E%3Cpath%20fill%3D%22%238E0F4F%22%20d%3D%22M113.761%20236.065c-1.204%203.823-1.516%207.37-.965%2010.614.362%201.045%201.015%201.698%201.929%201.929-1.582-3.954-1.865-8.096-.964-12.543zM124.374%20234.136c1.839%204.281%202.343%206.404%202.894%209.648.526.064.373.149.965%200-.663-4.372-1.085-6.362-3.859-9.648z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.ico.ruble {
  background-image: url("data:image/svg+xml,%3Csvg%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20data-prefix%3D%22fal%22%20data-icon%3D%22ruble-sign%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20384%20512%22%20class%3D%22svg-inline--fa%20fa-ruble-sign%20fa-w-12%20fa-9x%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M245.712%20287.809c80.296%200%20138.288-50.323%20138.288-128.803C384%2081.125%20326.009%2032%20245.712%2032H108c-6.627%200-12%205.373-12%2012v204H12c-6.627%200-12%205.373-12%2012v16c0%206.627%205.373%2012%2012%2012h84v58H12c-6.627%200-12%205.373-12%2012v14c0%206.627%205.373%2012%2012%2012h84v84c0%206.627%205.373%2012%2012%2012h19.971c6.627%200%2012-5.373%2012-12v-84H308c6.627%200%2012-5.373%2012-12v-14c0-6.627-5.373-12-12-12H139.971v-58.191h105.741zM139.971%2071.594h104.643c59.266%200%2098.14%2031.979%2098.14%2087.215%200%2055.818-38.873%2088.96-98.777%2088.96H139.971V71.594z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-size: contain;
  vertical-align: top;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  vertical-align: middle;
  font-size: 1em;
}
.tns-outer {
  padding: 0 !important;
}
.tns-outer [hidden] {
  display: none !important;
}
.tns-outer [aria-controls],
.tns-outer [data-action] {
  cursor: pointer;
}
.tns-slider {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
}
.tns-slider > .tns-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tns-horizontal.tns-subpixel {
  white-space: nowrap;
}
.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}
.tns-horizontal.tns-no-subpixel:after {
  content: '';
  display: table;
  clear: both;
}
.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left;
}
.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%;
}
.tns-no-calc {
  position: relative;
  left: 0;
}
.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px;
}
.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  -webkit-transition: transform 0s, opacity 0s;
  -moz-transition: transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s;
}
.tns-gallery > .tns-slide-active {
  position: relative;
  left: auto !important;
}
.tns-gallery > .tns-moving {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.tns-autowidth {
  display: inline-block;
}
.tns-lazy-img {
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0.6;
}
.tns-lazy-img.tns-complete {
  opacity: 1;
}
.tns-ah {
  -webkit-transition: height 0s;
  -moz-transition: height 0s;
  transition: height 0s;
}
.tns-ovh {
  overflow: hidden;
}
.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}
.tns-transparent {
  opacity: 0;
  visibility: hidden;
}
.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}
.tns-normal,
.tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}
.tns-vpfix {
  white-space: nowrap;
}
.tns-vpfix > div,
.tns-vpfix > li {
  display: inline-block;
}
.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden;
}
.tns-t-ct {
  width: 2333.3333333%;
  width: -webkit-calc(2333.33333333%);
  width: -moz-calc(2333.33333333%);
  width: calc(100% * 70 / 3);
  position: absolute;
  right: 0;
}
.tns-t-ct:after {
  content: '';
  display: table;
  clear: both;
}
.tns-t-ct > div {
  width: 1.4285714%;
  width: -webkit-calc(1.42857143%);
  width: -moz-calc(1.42857143%);
  width: calc(100% / 70);
  height: 10px;
  float: left;
}

* {
  box-sizing: border-box;
}
html:before {
  content: '';
  position: fixed;
  z-index: -1;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22isolation%3Aisolate%22%20viewBox%3D%220%200%20256%20256%22%3E%3ClinearGradient%20id%3D%22a%22%20x1%3D%22.688%22%20x2%3D%22.481%22%20y1%3D%22.82%22%20y2%3D%22.144%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23ffd9d9%22%2F%3E%3Cstop%20offset%3D%2236.746%25%22%20stop-color%3D%22%23fcfa8d%22%2F%3E%3Cstop%20offset%3D%2254.168%25%22%20stop-color%3D%22%23fcfe83%22%2F%3E%3Cstop%20offset%3D%2298.261%25%22%20stop-color%3D%22%23a7f6ff%22%2F%3E%3C%2FlinearGradient%3E%3Cpath%20fill%3D%22url(%23a)%22%20d%3D%22M0%200h256v256H0z%22%2F%3E%3C%2Fsvg%3E") center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}
.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
button {
  background: #9756ff;
  border: none;
  color: white;
  border-radius: 40px;
  text-transform: uppercase;
  font-size: inherit;
  font-weight: bold;
  padding: 1em 2em;
  min-width: 200px;
  outline: none;
  transition: all 150ms linear;
  font-size: 1em;
  cursor: pointer;
}
button:hover,
button:active {
  background: #4c18a0;
}
button:focus {
  box-shadow: 0 0 20px 0 #ffd9d9;
}
button:disabled {
  background-color: gray;
  border-color: gray;
  color: white;
  cursor: default;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
[hidden] {
  display: none !important;
}
menu,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 50px;
  margin: 2em 0 1em;
  color: #4c18a0;
}
@media (min-width: 550px) {
  h1,
  h2,
  h3 {
    font-size: 70px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 950px) {
  h1,
  h2,
  h3 {
    font-size: 96px;
  }
}
.slider li {
  display: block;
  padding: 0 20px 50px;
}
header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px 16px 16px;
  position: relative;
  animation: loadingComplete 700ms linear 1.5s forwards;
}
header .logo {
  font-size: 45vmin;
  margin-bottom: 22.5vmin;
  position: relative;
  z-index: 2;
}
header ul {
  position: relative;
  width: 90vmin;
  height: 90vmin;
  margin-top: -90vmin;
  font-size: 9vmin;
}
header ul li {
  position: absolute;
  opacity: 0;
  animation: fadeIn 200ms linear forwards;
}
header ul li:nth-child(1) {
  bottom: 30%;
  left: 0;
  animation-delay: 0.5s;
}
header ul li:nth-child(2) {
  bottom: 7%;
  left: 17%;
  animation-delay: 0.6s;
}
header ul li:nth-child(3) {
  bottom: 0;
  left: 50%;
  margin-left: -0.8em;
  animation-delay: 0.7s;
}
header ul li:nth-child(4) {
  bottom: 7%;
  right: 17%;
  animation-delay: 0.8s;
}
header ul li:nth-child(5) {
  bottom: 30%;
  right: 0;
  animation-delay: 0.9s;
}
header ul li a {
  display: block;
  border-radius: 50%;
  padding: 0.3em;
  background-color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  outline: none;
}
header ul li a .icon {
  display: block;
  color: #4c18a0;
}
header ul li a:hover {
  background-color: #ffd9d9;
}
@media (min-width: 550px) {
  header .logo {
    font-size: 282px;
    margin-bottom: 117.5px;
  }
  header ul {
    width: 470px;
    height: 470px;
    margin-top: -470px;
    font-size: 47px;
  }
}
section {
  margin-bottom: 100px;
}
section .container {
  background-color: white;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
@media (min-width: 550px) {
  section .container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }
}
@media (min-width: 992px) {
  section .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
  }
}
.text-center {
  text-align: center;
}
.catalog .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 40px 16px;
  background: none;
  overflow: hidden;
  box-shadow: none;
}
.catalog .item {
  width: 100%;
  margin-bottom: 100px;
  padding: 16px;
  max-width: 360px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  transform: scale(1);
  transition: all 250ms ease-in-out;
  animation: cards 7s linear both infinite;
}
.catalog .item:nth-child(4n) {
  animation-delay: -1.4s;
}
.catalog .item:nth-child(4n + 1) {
  animation-delay: 0s;
}
.catalog .item:nth-child(4n + 2) {
  animation-delay: -2.8s;
}
.catalog .item:nth-child(4n + 3) {
  animation-delay: -4.2s;
}
.catalog .item:hover {
  animation: none;
  transform: scale(1.1);
  z-index: 2;
}
.catalog .item .image {
  border-radius: 15px;
  background: none;
  padding: 0;
  overflow: hidden;
  box-shadow: none;
}
.catalog .item .image img {
  width: 100%;
  height: 100%;
  max-height: 328px;
  object-fit: cover;
  overflow: hidden;
  display: block;
}
.catalog .item .label {
  text-align: center;
}
.catalog .item h3 {
  font-size: 3.8em;
  margin: 0;
  padding: 0 0 16px;
}
.tns-outer {
  position: relative;
}
.tns-outer .tns-controls button {
  min-width: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  color: transparent;
  font-size: 0;
  position: absolute;
  top: 50%;
  z-index: 20;
  margin: -25px 0 0 0;
}
.tns-outer .tns-controls button::before {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
.tns-outer .tns-controls button[data-controls='prev'] {
  left: 0;
  padding-left: 6px;
}
@media (min-width: 550px) {
  .tns-outer .tns-controls button[data-controls='prev'] {
    left: 16px;
  }
}
.tns-outer .tns-controls button[data-controls='prev']::before {
  transform: rotate(45deg);
}
.tns-outer .tns-controls button[data-controls='next'] {
  right: 0;
  padding-right: 6px;
}
@media (min-width: 550px) {
  .tns-outer .tns-controls button[data-controls='next'] {
    right: 16px;
  }
}
.tns-outer .tns-controls button[data-controls='next']::before {
  transform: rotate(225deg);
}
.tns-outer .tns-nav {
  text-align: center;
}
.tns-outer .tns-nav button {
  min-width: 5px;
  border-radius: 50%;
  padding: 0;
  height: 20px;
  width: 20px;
  margin: 5px;
}
.tns-outer .tns-nav button.tns-nav-active {
  background: #996533;
}
.reviews .container {
  padding: 16px 0;
}
.modals-container .modal .dialog .dialog-close:hover::before,
.modals-container .modal .dialog .dialog-close:focus::before,
.modals-container .modal .dialog .dialog-close:hover::after,
.modals-container .modal .dialog .dialog-close:focus::after {
  border-color: #4c18a0;
}
.modals-container .modal .dialog .dialog-close::before,
.modals-container .modal .dialog .dialog-close::after {
  border-color: #9756ff;
}
.modals-container .modal h2,
.modals-container .modal h3 {
  margin: 0 0 16px;
  padding: 0;
}
.modals-container .modal section {
  margin-bottom: 0;
  text-align: center;
}
.modals-container .modal section p {
  font-size: 18px;
  margin: 0;
}
.modals-container .modal section button {
  margin-top: 16px;
}
.modals-container .modal section .tns-outer {
  position: static;
}
.modals-container .modal .carousel img {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
  display: block;
  border-radius: 15px;
  overflow: hidden;
}
.order {
  text-align: center;
}
.order .order-items {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.order .order-items .item {
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.order .order-items .item .image {
  min-width: 100px;
  max-width: 270px;
  width: 100%;
  padding: 1em;
}
.order .order-items .item .image img {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50%;
}
.order .order-items .item .label {
  text-align: left;
  max-width: 480px;
}
@media (min-width: 550px) {
  .order .order-items {
    flex-direction: column;
  }
  .order .order-items .item {
    flex-direction: row;
  }
}
@media (min-width: 850px) {
  .order .order-items {
    flex-direction: row;
  }
  .order .order-items .item {
    flex-direction: column;
  }
}
.about .container,
.answers .container {
  background: none;
  box-shadow: none;
}
.about h3,
.answers h3 {
  font-size: 3em;
  margin: 1em 0;
}
.about p,
.answers p {
  margin: 2em 0;
}
.about .list,
.answers .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about .list li,
.answers .list li {
  background: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  width: 100%;
  padding: 16px;
  margin: 8px;
}
@media (min-width: 750px) {
  .about .list li,
  .answers .list li {
    width: calc(50% - 16px);
  }
}
@media (min-width: 950px) {
  .about .list li,
  .answers .list li {
    width: 30%;
  }
}
.contacts h3 {
  font-size: 3em;
  margin: 0;
}
.contacts ul {
  display: flex;
  flex-wrap: wrap;
}
.contacts ul li {
  padding: 1em;
  width: 100%;
  text-align: center;
}
@media (min-width: 550px) {
  .contacts ul li {
    width: 33%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes cards {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-3deg);
  }
}
@keyframes loadingComplete {
  from {
    min-height: 100vh;
  }
  to {
    min-height: 0vh;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  animation: fadeIn 250ms ease-in-out;
}
.modal .dialog {
  width: 100%;
  max-width: 960px;
  min-height: 100px;
  border-radius: 4px;
  position: relative;
  border: none;
  color: black;
  font-weight: 300;
  animation: zoom 250ms ease-in-out;
}
.modal .dialog .dialog-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  height: 3em;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  min-width: 3em;
  box-shadow: none;
}
.modal .dialog .dialog-close::before,
.modal .dialog .dialog-close::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  left: 5px;
  border-bottom: 1px solid black;
  transform: rotate(45deg);
}
.modal .dialog .dialog-close::after {
  transform: rotate(-45deg);
}
.modal .dialog .dialog-close:focus::before,
.modal .dialog .dialog-close:hover::before,
.modal .dialog .dialog-close:focus::after,
.modal .dialog .dialog-close:hover::after {
  border-color: cornflowerblue;
}
.modal .dialog .dialog-content {
  padding: 1em;
  background-color: white;
  border: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


/*# sourceMappingURL=style.css.map*/